body {
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 48px 0;
}

.calc {
  border: solid 1px rgb(210, 208, 208);
  width: 525px;
}

.display {
  height: 62px;
  background-color: rgb(167, 167, 167);
  color: #fff;
  font-size: 24px;
}

.displayCalc {
  float: right;
  margin: 0;
  padding-right: 12px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
}

.grid div {
  border: solid 0.2px rgb(227, 224, 224);
  text-align: center;
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.grid .zero {
  border: transparent;
  margin: 0;
  padding: 15px 0 5px 5px;
  text-align: end;
}

.divide,
.multiply,
.minus,
.plus,
.equalTo {
  background-color: orange;
}
          /* ac plusMinus percent divide seven eight nine multiply four five six minus one two three plus zero dot equalTo */